.header {
    height: 2em;

    background: hsl(351, 16%, 32%);
}

.app-wrap {
    width: 100vw;
    height: calc(100vh - 2em);
    display: flex;
    flex-flow: row;

    .puzzles-wrap {
        flex: 3;
    }

    .board-wrap {
        flex: 3;
        padding: 0.3em;
        .board {
            aspect-ratio: 1/1;
        }

        .tree {
            display: flex;
            flex-flow: row wrap;
            .san {
                font-family: Inter;
                font-size: 1.2em;
                padding: 0.3em;
                flex: 40%;

                user-select: none;
                cursor: pointer;

                background: hsl(350, 9%, 13%);
                color: hsl(0, 0%, 86%);

                &:hover, &.active {
                    background: hsl(350, 38%, 20%);
                }

                &.fail {
                    background: hsl(0, 71%, 47%);
                }

                &:hover.fail, &.fail.active {
                    background: hsl(0, 82%, 64%);
                }
            }
        }
    }

    .board-wrap,
    .puzzles-wrap {
        background: hsl(349, 45%, 28%);
    }

    .editor-wrap {
        flex: 5;
    }

    .editor-wrap {
        -webkit-user-select: none;
        user-select: none;
        font-size: 1.2em;
        color: hsl(0, 0%, 86%);
        background: hsl(350, 9%, 13%);
    }


    .editor-wrap {
        display: flex;
        padding: 0.3em;
        gap: 1em;

        .editor-input {
            resize: none;
            font-size: 1.3em;
            padding: 0.3em;
        }

      .editor {

        flex: 1;
        .scroll-wrap {
            position: relative;
            overflow-y: scroll;
            width: 100%;
            padding-bottom: 5em;
        }


        font-family: Inter;
        display: flex;
        .rule {
            display: flex;
            gap: 0.5em;

            .score, .minmax {
                color: hsl(0, 71%, 47%);
            }
            .san {
                color:hsl(350, 62%, 52%);
            }
            .score, .san {
                font-size: 0.9em;
                font-style: italic;
            }
        }

        .new {
            opacity: 0.2;
            cursor: pointer;

            &:hover {
                opacity: 0.8;
            }
        }

        .rule, .new {
            &::before {
                position: absolute;
                width: 10px;
                height: 8px;
                margin-top: .65em;
                margin-left: -20px;
                border-top: 4px solid #4a4a4a;
                content: '';
            }
        }

        .nest {
            display: flex;
            flex-flow: column;
            gap: 0.1em;
            padding-left: 20px;
            padding-top: 2px;
            border-left: 4px solid #4a4a4a;

            &::before {
                position: absolute;
                width: 12px;
                height: 8px;
                margin-top: -2px;
                margin-left: -32px;
                border-top: 4px solid #4a4a4a;
                content: '';
            }
        }
      }

      .text-wrap {
        display: flex;
        flex-flow: column;
        .info {
            font-family: Inter;
            padding: 0.5em;

            display: flex;
            gap: 0.5em;
        }
      }
    }


    .puzzles {

        display: flex;
        flex-flow: column;
        gap: 0.2em;

        .filter {
            margin-top: 0.2em;
            display: flex;
            flex-flow: column;
            align-items: center;

            input {
                margin: 0 3em;
                align-self: stretch;
            }
        }

        .list {
            overflow: scroll;
            max-height: 60vh;


            .puzzle {
                min-height: 80px;
                padding: 0.4em;
                user-select: none;
                cursor: pointer;
                border: 1px solid rgb(62, 0, 128);
                background: lightgray;
                display: flex;

                &:hover {
                    background: lightyellow;
                }

                &:active {
                    background: lightcyan;
                }

                &.active {
                    background: yellow;
                }

                .id {
                    flex: 1;
                    color:rgb(62, 0, 128);
                }

                .has-tags,
                .tags {
                    align-self: flex-start;
                    font-size: 0.8em;
                }


                .has-tags,
                .tags {
                    flex: 3;
                    display: flex;
                    gap: 0 0.4em;
                    flex-flow: row wrap;
                    justify-content: center;
                }
            }
        }
    }


    .progress {
        position: fixed;
        border: 2px solid lime;
        background: lightyellow;
        bottom: 0;
        right: 0;
        margin: 1em;
        padding: 1em;
        font-size: 1.2em;
        font-weight: bold;
    }
}
